@page "{id:int}"
@model BankingApp.Pages.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.startDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.startDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.customerAge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.customerAge)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Customer.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
